* {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playstate {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    border: none;
}

#carousel {
    width: 45%;
    position: relative;
    margin: 0 auto;
}

#carousel>img {
    width: 100%;
}

#carousel>#caption {
    padding: 5px 10px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-decoration: underline;
}