body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-group{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
}

.controls{
    background-color: rgba(52, 132, 132, 0.5);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    border: 2px solid violet;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

#next{
    right: 30%;
}

#prev{
    left: 30%;
}

#carousel {
    width: 45%;
    position: relative;
    margin: 0 auto;
}

#carousel>img {
    width: 100%;
}

#carousel>#textfield {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 30px;
    text-decoration: underline;
}
#textfield > #caption{
    padding: 0px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#textfield > #error{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
}

#newimageform{
    position: fixed;
    display: none;
    padding: 20px;
    flex-direction: column;
    background-color: gray;
    
}

.iup{
    outline: none;
    border: 1px solid black;
    padding: 10px;
    font-size: 25px;
    width: 100%;
    margin: 20px 0;
}

#upload{
    border-radius: 50px;
    padding: 10px;
}

.formtop{
    display: flex;
    justify-content: right;
    align-items: center;
}

.close{
    background-color: transparent;
}

.header{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}